* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-size: 50%;
}
body {
  background-color: #000;
  background-image: url("http://sf.co.ua/14/03/wallpaper-1833811.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
}
header,
footer {
  color: #fff;
  background-color: #000;
}
main {
  color: #000;
}
#about-me,
#portfolio,
#contact-me {
  background-color: #fffd;
}
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3em;
  line-height: 3em;
  font-size: 2.6rem;
  font-weight: 400;
  z-index: 100;
  display: flex;
  justify-content: center;
}
.navigation .navigation-container {
  flex: 0 1 1280px;
  display: flex;
  justify-content: space-between;
}
.navigation .navigation-container .navigation-logo a img {
  border-radius: 6px;
  margin: 0.6em;
  height: 2em;
  width: 2em;
}
.navigation .navigation-container .navigation-buttons ul {
  list-style-type: none;
  display: flex;
}
.navigation .navigation-container .navigation-buttons ul li {
  padding-right: 15px;
}
.navigation .navigation-container .navigation-buttons ul li:hover {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.navigation .navigation-container .navigation-buttons ul li:hover:after {
  content: "";
  width: 100%;
  border-bottom: 3px solid #006dff;
  transform: translateY(-4px);
  animation-name: navbutton;
  animation-duration: 300ms;
  animation-timing-function: easy-out;
}
@keyframes navbutton {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.navigation .navigation-container .navigation-buttons ul li a {
  color: #fff;
  text-decoration: none;
}
.content {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4.6em;
}
#intro,
#about-me,
#portfolio,
#contact-me {
  min-height: 100vh;
  padding: 3em 4em 0 4em;
  position: relative;
}
.about-me > h2,
.portfolio > h2,
.contact-me > h2 {
  font-size: 7.2rem;
  font-weight: 200;
  text-align: center;
  margin: 1em 0 1em 0;
}
.intro {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.intro h1 {
  width: 100%;
  font-size: 7.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px black;
}
.intro h2 {
  width: 100%;
  margin-top: 2em;
  font-size: 3.6rem;
  font-weight: 100;
  letter-spacing: 8px;
  text-align: center;
  color: #fff;
}
.about-me h3 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0.4em;
}
.about-me p {
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
}
.about-me .about-me-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  .about-me .about-me-skills {
    flex-direction: row;
  }
}
.about-me .about-me-skills p {
  width: 100%;
  font-size: 4rem;
  font-weight: 200;
}
.about-me .about-me-skills div {
  width: 100%;
  font-size: 4rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: flex-start;
}
@media only screen and (min-width: 992px) {
  .about-me .about-me-skills div {
    flex: 1 1 40%;
    flex-wrap: wrap;
  }
}
.about-me .about-me-skills div p {
  font-size: 4rem;
  font-weight: 200;
}
.about-me .about-me-skills div img {
  width: 70px;
  height: 70px;
  margin: 0.6em 0.2em;
}
.about-me .about-me-skills div a img {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  width: 400px;
}
@media only screen and (min-width: 992px) {
  .about-me .about-me-skills div a img {
    max-width: 600px;
  }
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
@media only screen and (min-width: 992px) {
  .portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.portfolio h2 {
  width: 100%;
  text-align: center;
}
.portfolio .portfolio-item {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 10em;
}
@media only screen and (min-width: 992px) {
  .portfolio .portfolio-item {
    width: 42%;
    padding: 0;
  }
}
.portfolio .portfolio-item img {
  align-self: flex-start;
  width: 100%;
  margin-bottom: 20px;
  animation-name: imageshadow;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}
@keyframes imageshadow {
  0% {
    box-shadow: 0 0 23px 0 #006dff;
  }
  100% {
    box-shadow: 0 0 0px 0 #006dff;
  }
}
.portfolio .portfolio-item a {
  align-self: flex-start;
  font-size: 4.2rem;
  font-weight: 700;
  text-decoration: none;
  color: #006dff;
  margin-bottom: 10px;
  border: 1px #006dff solid;
  padding: 4px 8px;
  border-radius: 5px;
}
.portfolio .portfolio-item p {
  align-self: flex-start;
  font-size: 4rem;
  font-weight: 200;
  text-decoration: none;
  text-align: center;
  color: #000;
}
.portfolio .portfolio-item p a {
  font-size: 4rem;
  font-weight: 400;
  color: #006dff;
  border: 0px;
  background: none;
}
.contact-me form > * {
  border-radius: 0.4em;
  font-size: 4rem;
  font-weight: 200;
  line-height: 1.4em;
  margin-bottom: 0.8em;
  outline: none;
}
.contact-me form input {
  height: 1.4em;
  width: 100%;
  text-align: left;
  padding-left: 0.4em;
}
.contact-me form textarea {
  width: 100%;
  text-align: left;
  padding-left: 0.4em;
}
.contact-me form button {
  text-align: center;
  color: #fff;
  padding: 0 0.4em;
  display: inline-block;
  background-color: #006dff;
  cursor: pointer;
  transition: all 0.5s;
}
.contact-me form button:active {
  color: white;
  text-align: center;
  padding: 0 0.4em;
  display: inline-block;
  background-color: #006dff;
  transform: scale(1.1);
}
.footer-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 5.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.footer-bar .footer-bar-social {
  margin: 0 8px;
  font-size: 2.8rem;
}
.footer-bar .footer-bar-social a {
  color: #fff;
  text-decoration: none;
}
.footer-bar .footer-bar-social a:hover {
  color: #006dff;
}
.footer-bar .footer-bar-social a:hover i {
  transform: scale(1.2);
  transition-duration: 50ms;
  transition-timing-function: ease;
}
.footer-bar p {
  margin: 0 8px;
  font-size: 2rem;
  font-weight: 100;
}
