//Colors
@white: #fff;
@white85:#fffd;
@black: #000;
@link: #006dff;
@link-transparent: #006dff00;



//RWD
@desktop: ~"only screen and (min-width: 992px)";


* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 40%;
    scroll-behavior: auto;

    @media @desktop {
        font-size: 50%;
        scroll-behavior: smooth;
    }
}

body {
    background-color: @black;
    background-image: url("http://sf.co.ua/14/03/wallpaper-1833811.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
}

header,
footer {
    color: @white;
    background-color: @black;
}

main {
    color: @black;
}

#about-me,
#portfolio,
#contact-me {
    background-color: @white85;
}

.navigation {

    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    line-height: 3em;
    font-size: 2.6rem;
    font-weight: 400;
    z-index: 100;
    display: flex;
    justify-content: center;


    .navigation-container {
        flex: 0 1 1280px;
        display: flex;
        justify-content: space-between;

        .navigation-logo {
            a {    
                img {
                    border-radius: 6px;
                    margin: 0.6em;
                    height: 2em;
                    width: 2em;
                }
            }
        }

        .navigation-buttons {
            ul {
                list-style-type: none;
                box-sizing: border-box;
                display: flex;
                
                li {
                    padding-right: 15px;

                    &:not(:last-child) {
                        display: none;
                    }

                    @media @desktop {
                        &:not(:last-child) {
                            display: block;
                        }
                        &:last-child {
                            display: none;
                        }


                    &:hover {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;

                        &:not(:last-child) {
                        
                            &:after {
                                content: "";
                                width: 100%;
                                border-bottom: 4px solid @link;
                                transform: translateY(-4px);
                                animation-name: navbutton;
                                animation-duration: 300ms;
                                animation-timing-function: easy-out;
    
                                @keyframes navbutton {
                                    0% { 
                                        width: 0%;
                                    }
                                    100% {
                                        width: 100%; 
                                    }
                                }
                            }
                        }
                    } 
                                        }                 

                    a {
                       color: @white;
                       text-decoration: none;

                       .bars {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-content: space-around;
                            height: 1.4em;
                            width: 1.4em;
                            margin-top: 0.8em;


                            .bar {
                                background-color: @white;
                                height: 2px;
                                width: 100%;
                            }
                       }
                    } 
                }
            }
        }
    }

    &.mobile {
        height: 100vh;
        display: flex;
        animation-name: navi;
        animation-duration: 300ms;
        animation-timing-function: ease-in;

        @keyframes navi {
            0% { height: 3em; }
        }

        .navigation-container {
            .navigation-logo {
                order: 1;
            }
            .navigation-buttons {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;

                ul {
                    height: 100vh;
                    z-index: 101;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    padding: 30% 0;

                    li {
                        text-align: center;


                        &:not(:last-child) {
                            order: 3;
                            font-size: 2em;
                            color: red;
                            width: 100%;
                            display: block;
                            margin: 40px 0;
                        }
                        &:last-child {
                            order: 2;
                            text-align: right;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }

                        a {
                            .bars {
                                align-content: center;
                                transform: rotate(45deg);
                                .bar {
                                    &:nth-child(1n) {
                                        transform: translateY(2px) rotate(90deg);
                                    }
                                    &:nth-child(2n) {
                                        visibility: hidden;
                                    }
                                    &:nth-child(3n) {
                                        transform: translateY(-2px);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4.6em;
}

#intro,
#about-me,
#portfolio,
#contact-me {
    min-height: 100vh;
    padding: 3em 4em 0 4em;
    position: relative;
}

.about-me > h2,
.portfolio > h2,
.contact-me > h2 {
    font-size: 7.2rem;
    font-weight: 200;
    text-align: center;
    margin: 1em 0 1em 0;
}

.intro {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    h1 {
        width: 100%;
        font-size: 7.2rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;
        color: @white;
        text-shadow: 2px 2px black;
    }

    h2 {
        width: 100%;
        margin-top: 2em;
        font-size: 3.6rem;
        font-weight: 100;
        letter-spacing: 8px;
        text-align: center;
        color: @white;
    }
}


.about-me {
    h3 {
    font-size: 4.0rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0.4em;
    }

    p {
        font-size: 4.0rem;
        font-weight: 200;
        text-align: center;
    }

    .about-me-skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;

        @media @desktop {
            flex-direction: row;
        }

        p {
            width: 100%;
            font-size: 4.0rem;
            font-weight: 200;
        }

        div {
            width: 100%;
            font-size: 4.0rem;
            font-weight: 200;
            text-align: center;
            margin-bottom: 1em;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-self: flex-start;


            @media @desktop {
                flex: 1 1 40%;
                flex-wrap: wrap;
            }

            p {
                font-size: 4.0rem;
                font-weight: 200;
            }

            img {
                width: 70px;
                height: 70px;
                margin: 0.6em .2em;  
            }

            a {
                img {
                    margin-top: 0.3em;
                    margin-bottom: 0.5em;
                    width: 100%; 
          
                    @media @desktop {
                        max-width: 600px;
                    }
                }
            }
        }
    }
}


// Portfolio start
.portfolio {
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    @media @desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    h2 {
        width: 100%;
        text-align: center;
    }

    .portfolio-item {
        align-self: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        margin-bottom: 10em;

        @media @desktop {
            width: 42%;
            padding: 0;
        }

        img {
            align-self: flex-start;
            width: 100%;
            margin-bottom: 20px;
            animation-name: imageshadow;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: ease-in;
            
            @keyframes imageshadow {
                0% { box-shadow: 0 0 20px 0 @link; }
                100% { box-shadow: 0 0 10px 0 @link;  }
            }
        }
        
        > a {
            align-self: flex-start;
            font-size: 4.2rem;
            font-weight: 500;
            text-decoration: none;
            color: @link;
            margin-bottom: 10px;
            border: 1px @link solid;
            padding: 4px 8px;
            border-radius: 5px;

            &:hover {
                background-color: @link;
                color: @white;
                animation-name: activbutton;
                animation-duration: 400ms;

                @keyframes activbutton {
                0% { background-color: @link-transparent; }
                100% { background-color: @link; }
                }


            };
        }

        p {
            align-self: flex-start;
            font-size: 4.0rem;
            font-weight: 200;
            text-decoration: none;
            text-align: center;
            color: @black;


            a {
                font-size: 4.0rem;
                font-weight: 400;
                color: @link;
                border: 0px;
                background: none;
                text-decoration: none;
            } 
        }
    }
}
// Portfolio end

// Contact me start
.contact-me {

    form {

        & > * {
            border-radius: 0.4em;
            font-size: 4.0rem;
            font-weight: 200;
            line-height: 1.4em;
            margin-bottom: 0.8em;
            outline: none;
        }

        input {
            height: 1.4em;
            width: 100%;
            text-align: left;
            padding-left: 0.4em;
        }

        textarea {
            width: 100%;
            text-align: left;
            padding-left: 0.4em;
        }

        button {
            text-align: center;
            color: @white;
            padding: 0 0.4em;
            display: inline-block;
            background-color: @link;
            cursor: pointer;
            transition: all 0.5s;

            &:active {
                color: white;
                text-align: center;
                padding: 0 0.4em;
                display: inline-block;
                background-color: @link;
                transform: scale(1.1);
            }
        }
    }
}
// Contact me end


//Footer start
.footer-bar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 5.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .footer-bar-social {
        margin: 0 8px;
        font-size: 2.8rem;

      a {
        color: @white;
        text-decoration: none;
        &:hover {
            color: @link;
            i {
                transform: scale(1.2);
                transition-duration: 50ms;
                transition-timing-function: ease;
            }
        }
      }
    }

    p {
        margin: 0 8px;
        font-size: 2rem;
        font-weight: 100;
    }
}